
div{
    width: 200px;
    height: 200px;
    position:absolute;
    top: 150px;
    left: 35%;
    border-radius: 50%;
    border: 20px solid cornflowerblue;
    border-left: 20px solid black;

    animation: loading 1s steps(10) 1s infinite normal;
}

@keyframes loading{

    from{
        /* transform: rotate(0 deg); */
        transform: rotate(0deg);
    }
    to{
        /* transform: rotate(360 deg); */
        transform: rotate(360deg);
    }
}